@use "../../color-palette.scss" as p;

.card{
  max-width: 265px;
  border-radius: 20px;
  padding: 0 10px 0 10px;
  margin: 6px 6px 6px 6px;
  background-color: p.$CardBackground;
  color: p.$OnSurface;
  display: inline-block;
  text-align: center;
  img{
    user-select: none;
    padding: 5px 0 5px 0;
    height: 370px;
    width: 265px;
  }
  figcaption{
    padding: 10px 0 0 0;
  }
}

.foil-tag{
  display: inline;
  background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.price-total{
  display: inline;
  color: p.$OnBackground;
  h1{
    margin: 0 35% 10px 35%;
    border: 3px solid p.$CardBackground ;
    border-radius: 10px;
  }
}

.card-container{
  padding-top: 1%;
  padding-bottom: 1%;
  position: relative;
  text-align: center;
  left: 50%;
  transform: translate(-50%, 0); //Move to the middle of the screen
  width: 80%; // Add background bars
  min-height: calc(100vh - 60px); // Make default size of content pane the size of the browser screen.
  height: auto; // Make the size of the content pane be the size of all its children.
}