@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Righteous');

body {
  background: white;
  margin: 0px;
  margin-top: 130px;
  width: 100%;
  font-family: 'Righteous', cursive;
}

footer {
  background: #f8f8f8;
  border: 1px solid #ccc;
  position: absolute;
  font-size: 15px;
  width: 100%;
}

header {
  margin: 0 auto;
}

.icon{
  position: fixed;
  left:50%;
  margin-left: -50px;
  width: 100px;
  height: auto;
  top: 30px;
  padding: 0; 
  z-index: 10;
}

.navBar a{
  color: #404040;
  font-size: 22px;
  font-family: 'Righteous', cursive;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
}

.bar{
  width: 90%;
  height: 2px;
  color: #ccc;
  background:#ccc;
}

.right{
  float: Right;
}

.navBar{
  color: #404040;
  width: 100%;
  top: 0;
  position: fixed;
  border-bottom: 1px solid #ccc;
  height: 70px;
  z-index: 4;
  vertical-align: middle;
}

.navBar ul{
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  height: 100%;
  width: 100%;
}

.navBar li{
  display: inline-block;
  padding-top: 20px;
}

.navBar li + li{
  margin-left: 10px;
  margin-right: 10px;
}

div.navBar{
  padding-left: 10px;
  background: #f8f8f8;
  white-space: normal;
}

.footerText {
  color: #777777;
  margin: 10px 0px 10px 0px;
  word-spacing: 10px;
  font-family: 'Abril Fatface', cursive;
}

div.reader{
  background: #f8f8f8;
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

hr.reader {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #e8e8e5;
  margin: 1em 0;
  padding: 0;
}

a.reader{
  padding-top: 10px;
  color: #008AFF;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
}

.readerText {
  padding: 0px 6px;
}

.commitReader{
  background: #f8f8f8;
  word-wrap:break-word;
  overflow: hidden;
  white-space: normal;
  max-height: 150px;
  font-family: 'Oswald', sans-serif;
  overflow-y:scroll;
}

.frontBlog{
  width: 600px;
  height: 300px;
  margin: 20px auto;
  outline: 3px solid #ccc;
  position:relative;
  background-color: #f8f8f8;
}

.frontBlog img{
  width: 100%;
  height: 100%;
}

.frontBlog a{
  position:absolute;
  bottom:0;
  right:0;
  color: #777777
}

.frontBlog a{
  color: #404040;
}

.oldBlogs{
  list-style-type: none;
  display: table;
  margin: auto;
}

.oldBlogs li{
  float: left;
  display: block;
}

.oldBlogs .frontBlog{
  width: 400px;
  height: 300px;
  margin-left:  30px;
}

.centerLink{
  color: #404040;
  text-decoration: none;
  font-size: 24px;
  cursor: pointer;
}

#blogPage{
  display: none;
}
#aboutPage{
  display: none;
}
.blogThumb{
  height: 300px;
  width: 50%;
  outline: 1px solid #ccc;
  margin: 20px auto;
  background: #f8f8f8;
}
h1{
  color: #777777;
  font-size: 50px;
  margin: 0 auto;
}

h2{
  font-size: 20px;
  color: #777777;
}

h2:hover{
  color: #ccc;
  cursor: pointer;
}
.fontAwesomeLink{
  color: #777777;
  margin-left: 10px;
  font-size: 20px;
}
