@use "../../color-palette.scss" as p;

div.homepage{
    //background-color: gray;
    position: relative;
    text-align: center;
    left: 50%;
    transform: translate(-50%, 0); //Move to the middle of the screen
    width: 80%; // Add background bars
    min-height: calc(100vh - 60px); // Make default size of content pane the size of the browser screen.
    height: auto; // Make the size of the content pane be the size of all its children.
}

.category-container{
    padding: 1.5% 0 1.5% 0;

    button.category{
        background-color: p.$Primary;
        color: p.$OnPrimary;
        border-radius: 75px;
        padding: 0 16px 0 16px;
        min-width: 125px;
        min-height: 30px;
        margin: 0 0.25% 0 0.25%;
        text-align: center;
        text-decoration: none;
        border: none;

        &:hover{
            background-color: p.$PrimaryBorder;
            transition: 0.4s;
        }

        &[active=true]{
            background-color: p.$Secondary;
        }
    }
}

div.blog{

    a.blog-link, a.blog-link:visited{

        .blog-date{
            padding: 0.5% 0.25% 0.5% 0.25%;
            width: 200px;
            background-color: p.$Surface;
            color: p.$OnSurface;
            float: left;
        }
        .blog-category{
            margin-left: 1%;
            float: left;
            padding: 0.25%;
            width: 100px;
            background-color: p.$Error;
        }
        .blog-title{
            font-family: 'Anton', sans-serif;
            font-size: 32px;
            text-align: center;
        }

        .blog-desc{
            color: p.$OnBackgroundSecondary
        }

        text-decoration: none;
        color: p.$OnBackground;
        user-select: none;
        -webkit-user-drag: none;
    }

    padding: 1% 0 1% 0;
    margin: 2% 0 0 0;
    color: p.$OnBackground;
    max-width: 50%;
    left: 50%;
    transform: translate(-50%, 0); //Move to the middle of the screen
    position: relative;
    text-align: center;
}