div.git-commits{
    position: absolute;
    box-sizing: border-box;
    display: block;
    top: 50%;
    width: 100%;
    white-space: pre-wrap;
    max-height: 200px;
    background-color: #969696;
    border-radius: 25px;
    border: 8px solid #463534;
    word-wrap: break-word;
    overflow: hidden;
    overflow-y: scroll;
}

div.commit{
    text-align: center;
    white-space: pre;
    color: white;
}

a.commit-name{
    text-decoration: none;
    color: white;
}

a.commit-git{
    text-decoration: none;
}

img.commit-image{
    vertical-align:middle;
    border-radius: 10px;
}