div.commit{
    text-align: center;
    white-space: pre;
    color: white;
}

a.commit-name{
    text-decoration: none;
    color: white;
}

a.commit-git{
    text-decoration: none;
}

img.commit-image{
    border-radius: 10px;
}