div.top-navbar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #463534;
}

div.navbar-header a{
    font-family: bitPotion;
    text-decoration: none;
    color: #f1ffe0;
    float: left;
    height: 40px;
    padding: 15px 0px 0px 20px;
    font-size: 65px;
    line-height: 25px;
    text-align: center;
}

ul.navbar-objects{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li.navbar-objects{
    float: right;
}

li.navbar-objects a{
    display: block;
    color: #f1ffe0;
    text-align: center;
    padding: 19px 20px;
    text-decoration: none;
}

li.navbar-objects a:hover{
    background-color: #988171;
}

div.navText{
    font-family: bitPotion;
    font-size: 30px;
    padding: 0 0 0 5px;
    float: right;
}

svg.navbar-objects{
    font-size: 15px;
    padding: 0 3px 0 0;
}