@use '../../color-palette.scss' as p;

.navbar{

  button{
    float: right;
    padding: 19px 15px 17px 15px;
  }

  button.dropdown-toggle {
    white-space: nowrap;
    color: p.$OnSurface;
  }

  .btn {
    display: block;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
  }

  .dropdown-menu{
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: p.$Dropdown;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
  }

  .dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: p.$OnSurface;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
  }

  a{
    color: #007bff;
    text-decoration: none;
    text-align: left;
    background-color: transparent;
  }

  a:hover{
    background-color: p.$DropdownHighlight;
  }

  button:hover{
    background-color: #988171;
  }

  *{
    box-sizing: border-box;
  }
}

div.top-navbar{
  position: fixed;
  z-index:1;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: p.$Surface;
}

div.navbar-header a{
  font-family: 'Anton', sans-serif;
  font-size: 32px;
  text-decoration: none;
  color: p.$OnSurface;
  float: left;
  height: 40px;
  padding: 18px 0 0 13px;
  line-height: 25px;
  text-align: center;
}

div.navbar-objects{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: right;
}

div.navbar-objects a{
  display: block;
  color: p.$OnSurface;
  text-align: center;
  padding: 19px 20px;
  text-decoration: none;
}

div.navbar-objects a:hover{
  background-color: #988171;
  border-radius: .25rem;
}

div.navText{
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  padding: 0 0 0 5px;
  float: right;
}

svg.navbar-objects{
  text-align: center;
  font-size: 20px;
}

svg.damocles-logo{
  height: 50px;
  width: 50px;
  float: left;
  padding-top: 5px;
  padding-left: 5px;
}