@use '../../../../color-palette.scss' as p;

div.git-commits{
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
    white-space: pre-wrap;
    max-height: 200px;
    background-color: #969696;
    border-radius: 25px;
    border: 8px solid #463534;
    word-wrap: break-word;
    overflow: hidden;
    overflow-y: scroll;
}

#styled-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#styled-scroll::-webkit-scrollbar {
    width: 12px;
    border-radius: 10px;
    background-color: #F5F5F5;
}

#styled-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

div.commit-title{
    padding-top: 1%;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    color: p.$Secondary;
    font-size: 28px;
}

div.commit{
    margin: 1% 2% 1% 2%;
    text-align: center;
    white-space: pre;
    color: white;
}

a.commit-name{
    text-decoration: none;
    color: white;
}

a.commit-git{
    text-decoration: none;
    color: #a4aab1;
}

a.commit-git:visited{
    color: #5a6168;
}

img.commit-image{
    vertical-align:middle;
    border-radius: 10px;
}