@use "../../color-palette.scss" as p;

div.footer{
    position: fixed;
    text-align: center;
    line-height: 40px;
    bottom: 0;
    width: 100%;
    background-color: p.$Surface;
}

ul.footer-notes{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li.footer-notes{
    padding: 0 10px 0 10px;
    display: inline;
    color: p.$OnSurface;
}

li.footer-icons{
    padding: 0 10px 0 10px;
    display: inline;
}

#id-tag{
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    color: p.$OnSurface;
}

li.footer-notes a{
    font-family: 'Anton', sans-serif;
    font-size: 14px;
    color: p.$OnSurface;
    text-decoration: none;
}

li.footer-notes a:hover{
    color: #988171;
}

a.icon{
    font-size: 20px;
    color: white;
    padding: 0 8px 0 8px;
    text-decoration: none;
}