//color-palette.scss
$Primary: #BB86FC;
$PrimaryBorder: #b375ff;
$PrimaryVariant: #3700B3;
$Secondary: #03DAC6;
$Background: #121212;
$Surface: #313030;
$Dropdown: #4b4949;
$DropdownHighlight: #706f6f;
$Blog: #201f1f;
$Error: #CF6679;
$OnPrimary: #000000;
$OnSecondary: #000000;
$OnBackground: #FFFFFF;
$OnBackgroundSecondary:#e4e4e4;
$OnSurface: #FFFFFF;
$OnError: #000000;
$CardBackground: #5f5454;