//color-palette.scss
$Primary: #BB86FC;
$PrimaryBorder: #b375ff;
$PrimaryVariant: #3700B3;
$Secondary: #03DAC6;
$Background: #121212;
$Surface: #313030;
$Error: #CF6679;
$OnPrimary: #000000;
$OnSecondary: #000000;
$OnBackground: #FFFFFF;
$OnSurface: #FFFFFF;
$OnError: #000000;
$CardBackground: #5f5454;